In [1]:
import requests
import json
from pandas import DataFrame, Series
import pandas as pd

fpl_url = 'https://fantasy.premierleague.com/api/bootstrap-static/'
fpl_resp = requests.get(fpl_url)
# live data from API
fpl_json = fpl_resp.json()

In [3]:
print(fpl_json['teams'][0])

df_teams = DataFrame(fpl_json['teams'])

# reordering columns so more interesting ones are at beginning - cosmetic
df_teams = df_teams[['name', 'short_name', 'id', 'code', 'draw', 'form',
    'loss', 'played', 'points', 'position', 'strength', 'team_division',
    'unavailable', 'win', 'strength_overall_home', 'strength_overall_away',
    'strength_attack_home', 'strength_attack_away', 'strength_defence_home',
    'strength_defence_away', 'pulse_id']]

df_teams.head()

{'code': 3, 'draw': 0, 'form': None, 'id': 1, 'loss': 0, 'name': 'Arsenal', 'played': 0, 'points': 0, 'position': 0, 'short_name': 'ARS', 'strength': 4, 'team_division': None, 'unavailable': False, 'win': 0, 'strength_overall_home': 1230, 'strength_overall_away': 1285, 'strength_attack_home': 1250, 'strength_attack_away': 1250, 'strength_defence_home': 1210, 'strength_defence_away': 1320, 'pulse_id': 1}

,name,short_name,id,code,draw,form,loss,played,points,position,...,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
0,Arsenal,ARS,1,3,0,None,0,0,0,0,...,None,False,0,1230,1285,1250,1250,1210,1320,1
1,Aston Villa,AVL,2,7,0,None,0,0,0,0,...,None,False,0,1115,1175,1130,1190,1100,1160,2
2,Bournemouth,BOU,3,91,0,None,0,0,0,0,...,None,False,0,1060,1095,1050,1100,1060,1090,127
3,Brentford,BRE,4,94,0,None,0,0,0,0,...,None,False,0,1125,1205,1120,1220,1130,1190,130
4,Brighton,BHA,5,36,0,None,0,0,0,0,...,None,False,0,1165,1210,1120,1200,1210,1240,131

In [4]:
# match data
print(fpl_json['elements'][0])

df_players = DataFrame(fpl_json['elements'])
df_players = df_players[['first_name', 'second_name', 'team', 'id',
    'chance_of_playing_next_round', 'chance_of_playing_this_round', 'code',
    'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
    'cost_change_start_fall', 'dreamteam_count', 'element_type', 'ep_next',
    'ep_this', 'event_points', 'form', 'in_dreamteam', 'news', 'news_added',
    'now_cost', 'photo', 'points_per_game', 'selected_by_percent', 'special',
    'squad_number', 'status', 'team_code', 'total_points', 'transfers_in',
    'transfers_in_event', 'transfers_out', 'transfers_out_event', 'value_form',
    'value_season', 'web_name', 'goals_scored', 'assists', 'clean_sheets',
    'goals_conceded', 'own_goals', 'penalties_saved', 'penalties_missed',
    'saves', 'bonus', 'bps', 'influence', 'creativity', 'threat', 'ict_index',
    'influence_rank', 'influence_rank_type', 'creativity_rank',
    'creativity_rank_type', 'threat_rank', 'threat_rank_type',
    'ict_index_rank', 'ict_index_rank_type',
    'corners_and_indirect_freekicks_order',
    'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
    'direct_freekicks_text', 'penalties_order', 'penalties_text', 'minutes',
    'yellow_cards', 'red_cards']]

df_players.sample(5)

{'chance_of_playing_next_round': 75, 'chance_of_playing_this_round': None, 'code': 232223, 'cost_change_event': 0, 'cost_change_event_fall': 0, 'cost_change_start': 0, 'cost_change_start_fall': 0, 'dreamteam_count': 0, 'element_type': 4, 'ep_next': '1.1', 'ep_this': None, 'event_points': 0, 'first_name': 'Folarin', 'form': '0.0', 'id': 1, 'in_dreamteam': False, 'news': 'Foot injury - 75% chance of playing', 'news_added': '2023-08-07T15:30:05.135490Z', 'now_cost': 45, 'photo': '232223.jpg', 'points_per_game': '0.0', 'second_name': 'Balogun', 'selected_by_percent': '0.9', 'special': False, 'squad_number': None, 'status': 'd', 'team': 1, 'team_code': 3, 'total_points': 0, 'transfers_in': 0, 'transfers_in_event': 0, 'transfers_out': 0, 'transfers_out_event': 0, 'value_form': '0.0', 'value_season': '0.0', 'web_name': 'Balogun', 'minutes': 0, 'goals_scored': 0, 'assists': 0, 'clean_sheets': 0, 'goals_conceded': 0, 'own_goals': 0, 'penalties_saved': 0, 'penalties_missed': 0, 'yellow_cards': 0, 'red_cards': 0, 'saves': 0, 'bonus': 0, 'bps': 0, 'influence': '0.0', 'creativity': '0.0', 'threat': '0.0', 'ict_index': '0.0', 'starts': 0, 'expected_goals': '0.00', 'expected_assists': '0.00', 'expected_goal_involvements': '0.00', 'expected_goals_conceded': '0.00', 'influence_rank': 501, 'influence_rank_type': 46, 'creativity_rank': 500, 'creativity_rank_type': 46, 'threat_rank': 491, 'threat_rank_type': 48, 'ict_index_rank': 503, 'ict_index_rank_type': 48, 'corners_and_indirect_freekicks_order': None, 'corners_and_indirect_freekicks_text': '', 'direct_freekicks_order': None, 'direct_freekicks_text': '', 'penalties_order': None, 'penalties_text': '', 'expected_goals_per_90': 0, 'saves_per_90': 0, 'expected_assists_per_90': 0, 'expected_goal_involvements_per_90': 0, 'expected_goals_conceded_per_90': 0, 'goals_conceded_per_90': 0, 'now_cost_rank': 429, 'now_cost_rank_type': 65, 'form_rank': 233, 'form_rank_type': 7, 'points_per_game_rank': 506, 'points_per_game_rank_type': 48, 'selected_rank': 182, 'selected_rank_type': 36, 'starts_per_90': 0, 'clean_sheets_per_90': 0}

,first_name,second_name,team,id,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,...,ict_index_rank_type,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text,minutes,yellow_cards,red_cards
273,Dwight,McNeil,9,259,0.0,None,433154,0,0,0,...,23,1.0,,2.0,,NaN,,2490,5,0
253,Jeffrey,Schlupp,8,240,NaN,None,86417,0,0,0,...,78,NaN,,NaN,,NaN,,2528,7,0
120,Thomas,Strakosha,4,116,NaN,None,140200,0,0,0,...,44,NaN,,NaN,,NaN,,0,0,0
342,Alfie,Doughty,12,321,NaN,None,244262,0,0,0,...,198,1.0,,2.0,,NaN,,0,0,0
134,Julio,Enciso,5,130,NaN,None,474120,0,0,0,...,86,NaN,,NaN,,NaN,,794,1,0

In [5]:
match_url = 'https://fantasy.premierleague.com/api/fixtures/'
match_resp = requests.get(match_url)

match_json = match_resp.json()
match0 = match_json[0]

match_cols = [key for key in match0 if key != 'stats']
df_match = DataFrame(match_json)[match_cols]
df_match[['id', 'team_a', 'team_h', 'team_a_score', 'team_h_score',
    'kickoff_time']].head()

    id  team_a  team_h team_a_score team_h_score          kickoff_time
0   15       6      12         None         None                  None
1  176       4      13         None         None                  None
2    1      13       6         None         None  2023-08-11T19:00:00Z
3    2      16       1         None         None  2023-08-12T11:30:00Z
4    3      19       3         None         None  2023-08-12T14:00:00Z